@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
  background-color: #2b2424;
}

* {
  margin: 0;
  padding: 0;
}

.container {
  width: 150px;
  height: 656px;
  background-color: rgb(55, 49, 49);
  float: left;
}

.img {
  background-color: #0000ff;
  width: 150px;
  height: 50px;
}

.img img {
  width: 150px;
  height: 50px;
}

.nav ul {
  /* padding-l: 10px; */
  /* border: 1px solid black; */
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav ul a li {
  padding-left: 15px;
  padding-bottom: 20px;
  border: 1px solid black;
  padding-top: 8px;

}

.nav ul a li span {
  text-align: center;
  padding-top: 2px;
}

.main-content {
  height: 100vh;
}

.main-content .top {
  color: blue;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.main-content .top-1 {
  color: white;
  padding-top: 30px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.main-content img {
  padding-left: 35%;
  padding-top: 30px;
  width: 300px;
  height: 300px;
}

.down {
  color: blue;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.down-1 {
  color: white;
  padding-top: 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.bot {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.bot img {
  border-radius: 500px;
  width: 100px;
  cursor: pointer;
}