@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

.body {
  background-color: black;

}

.container {
  background-color: whitesmoke;
  width: 350px;
  height: 654px;
  margin-left: 5px;
  border: 1px solid black;
}

.container img {
  padding-left: 30%;
  padding-top: 3px;
  height: 130px;
}

.container p {
  font-size: 12px;
  padding-left: 30px;
  color: #282626;
  padding-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.left {
  float: left;
}

.left ul li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  padding-left: 5px;
  padding: 4px;
  color: blue;
  font-size: 15px;
  font-weight: bolder;
}

.meta {
  margin-top: 0;
}

.right ul li {
  list-style: none;
  font-family: 'Poppins', sans-serif;
  padding: 4px;
  color: #282626;
  font-size: 15px;
  font-weight: bolder;
  margin-left: 40px;
}